<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/mortarboard.png'%}" type="image/x-icon">
    <title>سامانه رازان</title>
    <link rel="stylesheet" href="{% static 'css/amozsh_panel/panel-style.css'%}">
    <script src="{% static 'js/amozsh_panel/panel-app.js'%}" defer ></script>
</head>
<body>
    
        <div class="profile">
            <img src="{% static 'images/Dowry-installment.jpg'%}">
            <div class="bagiye">
                <label>نام :</label>
                <span>آرمان</span>
                <label>نام خانوادگی :</label>
                <span>سجادی</span>
                <label>کد کارمندی :</label>
                <span>500085</span>
                <label>Ip :</label>
                <span>192.168.1.1</span>
            </div>
            <div class="tarix">
                <label>تاریخ امروز :</label>
                <span>1402/04/22</span>
            </div>
        </div>
        <div class="part2">

            <div class="up-side">
                <h2>لیست دانشجو ها</h2>
            </div>

            <div class="down-side">
                <table>
                    <thead>
                        <tr>
                            <th>شماره دانشجویی</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>فرم ثبت نام</th>
                            <th>دروس دانشجو</th>
                            <th>کارنامه</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>14015361923</th>
                            <th>آرمان</th>
                            <th>سجادی</th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th>14015361923</th>
                            <th>آرمان</th>
                            <th>سجادی</th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th>14015361923</th>
                            <th>آرمان</th>
                            <th>سجادی</th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th>14015361923</th>
                            <th>آرمان</th>
                            <th>سجادی</th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="notif">
            <div class="up">
                  <h2>مدیریت درخواست ها</h2>
            </div>
            <div class="down">
                <div class="payam">
                    <p>فرا رسیدن نوروز باستانی ، یادآور شکوه ایران و یگانه یادگار جمشید جم
                        بر همه ایرانیان پاک پندار ، راست گفتار و نیک کردار خجسته باد . . .
                    </p>
                    <a href="#">
                        <button>
                            مشاهده درخواست
                        </button>
                    </a>
                </div>
                
        </div>
        </div>
        <div class="part2 part3 part4">

            <div class="up-side">
                <h2>لیست دروس</h2>
            </div>

            <div class="down-side">
                <table>
                    <thead>
                        <tr>
                            <th>کد درس</th>
                            <th>نام درس</th>
                            <th>نام استاد</th>
                            <th>ظرفیت</th>
                            <th>شماره کلاس</th>
                            <th>زمان برگذاری کلاس</th>
                            <th>ساعت برگذاری کلاس</th>
                            <th>نوع درس</th>
                            <th>پیش نیاز است برای</th>
                            <th>تعداد جلسه</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>500085</th>
                            <th>برنامه نویسی</th>
                            <th>آقام سخندان</th>
                            <th>
                                50
                            </th>
                            <th>
                                228
                            </th>
                            <th>
                                شنبه و یکشنبه 

                            </th>
                            <th>
                                8-10
                            </th>
                            <th>
                                پیش نیاز
                            </th>
                            <th>
                                500086
                            </th>
                            <th>
                                500086
                            </th>
                        </tr>
                        <tr>
                            <th>500085</th>
                            <th>برنامه نویسی</th>
                            <th>آقام سخندان</th>
                            <th>
                                50
                            </th>
                            <th>
                                228
                            </th>
                            <th>
                                شنبه و یکشنبه 
                                
                            </th>
                            <th>
                                8-10
                            </th>
                            <th>
                                پیش نیاز
                            </th>
                            <th>
                                500086
                            </th>
                            <th>
                                500086
                            </th>
                        </tr>
                        <tr>
                            <th>500085</th>
                            <th>برنامه نویسی</th>
                            <th>آقام سخندان</th>
                            <th>
                                50
                            </th>
                            <th>
                                228
                            </th>
                            <th>
                                شنبه و یکشنبه 
                            </th>
                            <th>
                                8-10
                            </th>
                            <th>
                                پیش نیاز
                            </th>
                            <th>
                                500086
                            </th>
                            <th>
                                500086
                            </th>
                        </tr>
                        
                        
                    </tbody>
                </table>
                <a href="#">
                <button id="mmm"> 
                    افزودن درس
                </button>
                </a>
            </div>
        </div>
        <div class="part2 part3">

            <div class="up-side">
                <h2>لیست اساتید</h2>
            </div>

            <div class="down-side">
                <table>
                    <thead>
                        <tr>
                            <th>کد استاد</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>کلاس ها</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>14005361923</th>
                            <th>جعفر</th>
                            <th>تنها</th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th>14005361923</th>
                            <th>جعفر</th>
                            <th>تنها</th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th>14005361923</th>
                            <th>جعفر</th>
                            <th>تنها</th>
                            <th>
                                <a href="#">
                                    <button>
                                        کلیک کنید
                                    </button>
                                </a>
                            </th>
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>


    
</body>
</html>