<!DOCTYPE html>
<html lang="fa">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/mortarboard.png' %}" type="image/x-icon">
    <title>سامانه رازان</title>

    <!-- script -->
    <script src="{% static 'js/change_password/app.js'%}" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <!-- script -->


    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/change_password/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/change_password/menu.css'%}">
    <link rel="stylesheet" href="{% static 'css/change_password/nav-responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/change_password/part1.css'%}">
    <!-- style -->

</head>
<body>
    

    <div class="container">

        <div class="menu active">
            <div class="main-title">
                <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
                <span class="main-title-sub">سامانه رازان</span>
            </div>
            <ul>
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../4-main-panel/index.html" title="پنل">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">پنل دانشجو</span>
                    </a>
                </li>
                
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../8-intkhab-vahed/index.html" title="انتخاب واحد">
                        <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                        <span class="title">انتخاب واحد</span>
                    </a>
                </li>
        
                    <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../5-grid-panel/index.html" title="کارنامه">
                        <span class="icon"><ion-icon name="browsers-outline"></ion-icon></span>
                        <span class="title">کارنامه</span>
                    </a>
                </li>
        
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../6-availabel-lesson/index.html" title="دروس دانشجو">
                        <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
                        <span class="title">دروس دانشجو در نیمسال</span>
                    </a>
                </li>
                
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../9-drous-intkhab/index.html" title="دروس ارائه شده">
                        <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="title">دروس ارائه شده در نیمسال</span>
                    </a>
                </li>
        
                <li class="list active">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="index.html" title="تغییر کلمه عبور">
                        <span class="icon"><ion-icon name="shield-checkmark-outline"></ion-icon></span>
                        <span class="title">تغییر کلمه عبور</span>
                    </a>
                </li>
        
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="#">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">خروج</span>
                    </a>
                </li>
        
            </ul>    
        </div>

        <div class="menu1">
            <ul>
                <li class="list1">
                    <a href="../4-main-panel/index.html">
                        <span class="icon1"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title1">پنل دانشجو</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../8-intkhab-vahed/index.html">
                        <span class="icon1"><ion-icon name="school-outline"></ion-icon></span>
                        <span class="title1">انتخاب واحد</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../5-grid-panel/index.html">
                        <span class="icon1"><ion-icon name="browsers-outline"></ion-icon></span>
                        <span class="title1">کارنامه</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../6-availabel-lesson/index.html">
                        <span class="icon1"><ion-icon name="document-outline"></ion-icon></span>
                        <span class="title1"> دروس دانشجو</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../9-drous-intkhab/index.html">
                        <span class="icon1"><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="title1">دروس ارائه شده </span>
                    </a>
                </li>
        
                <li class="list1 active">
                    <a href="index.html">
                        <span class="icon1"><ion-icon name="shield-checkmark-outline"></ion-icon></span>
                        <span class="title1">تغییر کلمه عبور</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="#">
                        <span class="icon1"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title1">خروج</span>
                    </a>
                </li>
                <div class="back-grand"></div>
            </ul>
        </div>

<!-- ------------------- -->

        <div class="main-side active">
    
            <div class="up-side">
                <form>
                    <label for="message">متن خود را برای درخواست تغییر رمز عبور وارد کنید :</label><br>
                    <textarea id="message" name="message" required="required" rows="3" cols="50"></textarea><br>
                    <input type="submit" class="button" value="ارسال">
                  </form>
            </div>
            <div class="mm"></div>
            <div class="down-side">
                <form>
                    <label class="mass" for="message">پسورد جدید خود را وارد کنید :</label><br>
                    <div class="inputGroup">
                        <input type="password" required="required" autocomplete="off">
                        <label for="name">Password</label>
                    </div>
                    <br>
                    <input type="submit" class="button" value="ثبت">
                  </form>
            </div>
            
        </div>

    </div>

</body>
</html>