<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/mortarboard.png'%}" type="image/x-icon">
    <script src="{% static 'js/form/moshahde-form-app.js'%}" defer ></script>
    <script src="{% static 'js/form/moshahde-form-app1.js'%}" defer ></script>
    <link rel="stylesheet" href="{% static 'css/form/moshahde-form-form.css'%}">
    <title>سامانه رازان</title>
</head>
<body>
    <div class="form">

        <div class="info">

            <h2>
                فرم ثبت نام
            </h2>

            <span>
                <br><br>
                <span class="f1" >بسم تعالی</span>
                <br><br>
                اینجانب با مشخصات زیر :
                <br><br>
                نام و نام خانوادگی :
                <div id="name" ></div>
                و
                کد ملی:
                <div id="Id" ></div>
                و نام پدر :
                <div id="fatherName" ></div>
                و نام مادر :
                <div id="motherName" ></div>
                و شماره همراه پدر :
                <div id="futherNum" ></div>
                و شماره همراه اضطراری : 
                <div id="emerNum" ></div>
                و شماره تلفن : 
                <div id="PhonNum" ></div>
                و آدرس : 
                <div id="address" ></div>
                کد ملی پدر : 
                <div id="futherId" ></div>
                و کد ملی مادر : 
                <div id="motherId" ></div>
                و شغل پدر : 
                <div id="futherJob" ></div>
                <br><br>

                درخواست ثبت نام میکنم.اینجانب متقاضی ثبت نام اضهار دارم که کلیه مراتب فوق را در نهایت دقت و صحت تکمیل نموده 
         و چنانچه خلاف آن ثابت شود و ایراد یا نقصی در مدارک ارائه شده وجود داشته باشد دانشگاه مجاز است طبق مقررات اقدام 
         نماید.در ضمن متعهد می شوم در صورتی که هر یک از اطلاعات مندرج در فرم تغییر کند حداکثر ظرف مدت دو هفته آن را به صورت 
         کتبی به معاونت آموزشی اطلاع دهم. 
                

            </span>
            
        </div>
        
    </div>
</body>
</html>