<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/notif/StyleOfNotif.css'%}">
    <link rel="icon" href="{% static 'images/mortarboard.png'%}" type="image/x-icon">
    <script src="{% static 'js/notif/app.js'%}" defer></script>
    <title>سامانه رازان</title>
</head>
<body>
    <div class="notif">
            <div class="up">
                  <h2>اعلان ها</h2>
            </div>
            <div class="down">
                <div class="payam">
                    <p>فرا رسیدن نوروز باستانی ، یادآور شکوه ایران و یگانه یادگار جمشید جم
                        بر همه ایرانیان پاک پندار ، راست گفتار و نیک کردار خجسته باد . . .
                    </p>
                </div>
                <div class="payam">
                    <p>فرا رسیدن نوروز باستانی ، یادآور شکوه ایران و یگانه یادگار جمشید جم
                        بر همه ایرانیان پاک پندار ، راست گفتار و نیک کردار خجسته باد . . .
                    </p>
                </div>
                <div class="payam">
                    <p>فرا رسیدن نوروز باستانی ، یادآور شکوه ایران و یگانه یادگار جمشید جم
                    بر همه ایرانیان پاک پندار ، راست گفتار و نیک کردار خجسته باد . . .
                    </p>
                </div>
                <div class="payam">
                    <p>فرا رسیدن نوروز باستانی ، یادآور شکوه ایران و یگانه یادگار جمشید جم
                    بر همه ایرانیان پاک پندار ، راست گفتار و نیک کردار خجسته باد . . .
                    </p>
                </div>
        </div>
</body>
</html>