<!DOCTYPE html>
<html lang="fa">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه رازان</title>
    <link rel="icon" href="{% static 'images/mortarboard.png'%}" type="image/x-icon">
    
    <!-- script -->
    <script src="{% static 'js/selected_units/app.js'%}" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <!-- script -->
    
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/selected_units/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/selected_units/menu.css'%}">
    <link rel="stylesheet" href="{% static 'css/selected_units/nav-responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/selected_units/part1.css'%}">
    <link rel="stylesheet" href="{% static 'css/selected_units/part2.css'%}">
    <!-- style -->

</head>
<body>
    

    <div class="container">


        <div class="menu active">
            <div class="main-title">
                <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
                <span class="main-title-sub">سامانه رازان</span>
            </div>
            <ul>
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../4-main-panel/index.html" title="پنل">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">پنل دانشجو</span>
                    </a>
                </li>
                
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../8-intkhab-vahed/index.html" title="انتخاب واحد">
                        <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                        <span class="title">انتخاب واحد</span>
                    </a>
                </li>
        
                    <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../5-grid-panel/index.html" title="کارنامه">
                        <span class="icon"><ion-icon name="browsers-outline"></ion-icon></span>
                        <span class="title">کارنامه</span>
                    </a>
                </li>
        
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../6-availabel-lesson/index.html" title="دروس دانشجو">
                        <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
                        <span class="title">دروس دانشجو در نیمسال</span>
                    </a>
                </li>
                
                <li class="list active">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="index.html" title="دروس ارائه شده">
                        <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="title">دروس ارائه شده در نیمسال</span>
                    </a>
                </li>
        
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../7-change-password/index.html" title="تغییر کلمه عبور">
                        <span class="icon"><ion-icon name="shield-checkmark-outline"></ion-icon></span>
                        <span class="title">تغییر کلمه عبور</span>
                    </a>
                </li>
        
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="#">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">خروج</span>
                    </a>
                </li>
        
            </ul>    
        </div>

        <div class="menu1">
            <ul>
                <li class="list1">
                    <a href="../4-main-panel/index.html">
                        <span class="icon1"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title1">پنل دانشجو</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../8-intkhab-vahed/index.html">
                        <span class="icon1"><ion-icon name="school-outline"></ion-icon></span>
                        <span class="title1">انتخاب واحد</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../5-grid-panel/index.html">
                        <span class="icon1"><ion-icon name="browsers-outline"></ion-icon></span>
                        <span class="title1">کارنامه</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../6-availabel-lesson/index.html">
                        <span class="icon1"><ion-icon name="document-outline"></ion-icon></span>
                        <span class="title1"> دروس دانشجو</span>
                    </a>
                </li>
        
                <li class="list1 active">
                    <a href="index.html">
                        <span class="icon1"><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="title1">دروس ارائه شده </span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../7-change-password/index.html">
                        <span class="icon1"><ion-icon name="shield-checkmark-outline"></ion-icon></span>
                        <span class="title1">تغییر کلمه عبور</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="#">
                        <span class="icon1"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title1">خروج</span>
                    </a>
                </li>
                <div class="back-grand"></div>
            </ul>
        </div>


<!-- ------------------------------------------------------------- -->

        <div class="main-side active">

            <div class="part1">

                <div class="part1-icon" title="انتخاب ترم"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></div>

                <ul>
                    <li><a href="#">ترم 1</a></li>
                    <li><a href="#">ترم 2</a></li>
                    <li><a href="#">ترم 3</a></li>
                    <li><a href="#">ترم 4</a></li>
                    <li><a href="#">ترم 5</a></li>
                    <li><a href="#">ترم 6</a></li>
                    <li><a href="#">ترم 7</a></li>
                    <li><a href="#">ترم 8</a></li>
                </ul>

            </div>
            <div class="part2">
                <div class="gesmat">
                    <h2>برنامه نویسی پیشرفته</h2>
                    <span>استاد تنها</span>
                    <span>یکشنبه و سه شنبه</span>
                    <span>کلاس 228</span>
                </div>
                <div class="gesmat">
                    <h2>برنامه نویسی پیشرفته</h2>
                    <span>استاد تنها</span>
                    <span>یکشنبه و سه شنبه</span>
                    <span>کلاس 228</span>
                </div>
                <div class="gesmat">
                    <h2>برنامه نویسی پیشرفته</h2>
                    <span>استاد تنها</span>
                    <span>یکشنبه و سه شنبه</span>
                    <span>کلاس 228</span>
                </div>
                <div class="gesmat">
                    <h2>برنامه نویسی پیشرفته</h2>
                    <span>استاد تنها</span>
                    <span>یکشنبه و سه شنبه</span>
                    <span>کلاس 228</span>
                </div>
                <div class="gesmat">
                    <h2>برنامه نویسی پیشرفته</h2>
                    <span>استاد تنها</span>
                    <span>یکشنبه و سه شنبه</span>
                    <span>کلاس 228</span>
                </div>
                <div class="gesmat">
                    <h2>برنامه نویسی پیشرفته</h2>
                    <span>استاد تنها</span>
                    <span>یکشنبه و سه شنبه</span>
                    <span>کلاس 228</span>
                </div>
                <div class="gesmat">
                    <h2>برنامه نویسی پیشرفته</h2>
                    <span>استاد تنها</span>
                    <span>یکشنبه و سه شنبه</span>
                    <span>کلاس 228</span>
                </div>
                <div class="gesmat">
                    <h2>برنامه نویسی پیشرفته</h2>
                    <span>استاد تنها</span>
                    <span>یکشنبه و سه شنبه</span>
                    <span>کلاس 228</span>
                </div>

            </div>
        </div>
        
    </div>

</body>
</html>