<!DOCTYPE html>
<html lang="fa">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه رازان</title>

    <link rel="icon" href="{% static 'images/mortarboard.png' %}" type="image/x-icon">
   

    <!-- script -->

    <!-- script -->


    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/student_panel/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/student_panel/student_panel_menu.css'%}">
    <link rel="stylesheet" href="{% static 'css/student_panel/student_panel_nav_responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/student_panel/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/student_panel/info-table.css'%}">
    <link rel="stylesheet" href="{% static 'css/student_panel/main-side-responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/student_panel/info.css'%}">  
    <link rel="stylesheet" href="{% static 'css/student_panel/Responsive.css'%}">  
    <!-- style -->

</head>
<body>
    

    <div class="container">

        <div class="menu active">
            <div class="main-title">
                <ion-icon name="menu-outline" class="menu-icon"></ion-icon>
                <span class="main-title-sub">سامانه رازان</span>
            </div>
            <ul>
                <li class="list active">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="index.html" title="پنل">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">پنل دانشجو</span>
                    </a>
                </li>
                
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../8-intkhab-vahed/index.html" title="انتخاب واحد">
                        <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                        <span class="title">انتخاب واحد</span>
                    </a>
                </li>
        
                    <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../5-grid-panel/index.html" title="کارنامه">
                        <span class="icon"><ion-icon name="browsers-outline"></ion-icon></span>
                        <span class="title">کارنامه</span>
                    </a>
                </li>
        
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../6-availabel-lesson/index.html" title="دروس دانشجو">
                        <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
                        <span class="title">دروس دانشجو در نیمسال</span>
                    </a>
                </li>
                
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../9-drous-intkhab/index.html" title="دروس ارائه شده">
                        <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="title">دروس ارائه شده در نیمسال</span>
                    </a>
                </li>
        
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="../7-change-password/index.html" title="تغییر کلمه عبور">
                        <span class="icon"><ion-icon name="shield-checkmark-outline"></ion-icon></span>
                        <span class="title">تغییر کلمه عبور</span>
                    </a>
                </li>
        
                <li class="list">
                    <b class="rom1"></b>
                    <b class="rom2"></b>
                    <a href="#" title="خروج">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">خروج</span>
                    </a>
                </li>
        
            </ul>    
        </div>

        <div class="menu1">
            <ul>
                <li class="list1 active">
                    <a href="index.html">
                        <span class="icon1"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title1">پنل دانشجو</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../8-intkhab-vahed/index.html">
                        <span class="icon1"><ion-icon name="school-outline"></ion-icon></span>
                        <span class="title1">انتخاب واحد</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../5-grid-panel/index.html">
                        <span class="icon1"><ion-icon name="browsers-outline"></ion-icon></span>
                        <span class="title1">کارنامه</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../6-availabel-lesson/index.html">
                        <span class="icon1"><ion-icon name="document-outline"></ion-icon></span>
                        <span class="title1"> دروس دانشجو</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../9-drous-intkhab/index.html">
                        <span class="icon1"><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="title1">دروس ارائه شده </span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="../7-change-password/index.html">
                        <span class="icon1"><ion-icon name="shield-checkmark-outline"></ion-icon></span>
                        <span class="title1">تغییر کلمه عبور</span>
                    </a>
                </li>
        
                <li class="list1">
                    <a href="#">
                        <span class="icon1"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title1">خروج</span>
                    </a>
                </li>
                <div class="back-grand"></div>
            </ul>
        </div>

<!-- ------------------- -->

        <div class="main-side active ">
            
            <div class="top-nav-section">
                <div class="nav-profile">
                    <img src="{% static 'images/pic.jfif'%}">
                    <span>سلام <b id="name1"></b> عزیز<br>به سامانه رازان خوش آمدید !</span>
                </div>

                <div class="notfication">
                    <span class="num">3</span>
                    <a href="../Notif-stu/index3.html" target="_blank">
                    <img src="{% static 'images/bell.png'%}">
                    </a>
                </div>
            </div>

            <div class="info-section">

                <div class="up">
                     <h2>اطلاعات دانشجو</h2>
                </div>

                <div class="down">
                        <div>
                            <label>نام :</label>
                            <span id="name"></span>
                        </div>
                        <div>
                            <label>نام خانوادگی :</label>
                            <span id="lastname"></span>
                        </div>
                        <div>
                            <label>شماره دانشجویی :</label>
                            <span id="id"></span>
                        </div>
                        <div>
                            <label>نیمسال فعال :</label>
                            <span id="nimsal"></span>
                        </div>
                        <div>
                            <label>IP آخرین ورود :</label>
                            <span id="ipaddres"></span>
                        </div>
                </div>
            </div>

        <div class="info-tabel-1">
            <div>
                <canvas id="myChart"></canvas>
              </div> 
        </div>

        <div class="info-tabel-2">
            <div>
                <canvas id="myChart1"></canvas>
              </div> 
        </div>


       
    </div>
    
</div>

<script src="{% static 'js/student_panel.js'%}" defer ></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>

</body>
</html>