<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه رازان</title>
    <link rel="icon" href="{% static 'images/mortarboard.png'%}" type="image/x-icon">
    <!-- <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js" defer ></script> -->
    <script src="{% static 'js/view_grades/moshahde-karname-app.js'%}" defer></script>
    <link rel="stylesheet" href="{% static 'css/view_grades/moshahde-karname-part1.css'%}">
    <link rel="stylesheet" href="{% static 'css/view_grades/moshahde-karname-part2.css'%}">
    <link rel="stylesheet" href="{% static 'css/view_grades/moshahde-karname-part3.css'%}">
    <link rel="stylesheet" href="{% static 'css/view_grades/moshahde-karname-style.css'%}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
</head>
<body>
    <div class="part1">

                <div class="part1-icon" title="انتخاب ترم"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></div>

                <ul>
                    <li><a href="#">ترم 1</a></li>
                    <li><a href="#">ترم 2</a></li>
                    <li><a href="#">ترم 3</a></li>
                    <li><a href="#">ترم 4</a></li>
                    <li><a href="#">ترم 5</a></li>
                    <li><a href="#">ترم 6</a></li>
                    <li><a href="#">ترم 7</a></li>
                    <li><a href="#">ترم 8</a></li>
                </ul>

            </div>

            <div class="part2">

                <div class="up-side">
                    <h2>کارنامه دانشجو</h2>
                </div>

                <div class="down-side">
                    <table>
                        <thead>
                            <tr>
                                <th>نام درس</th>
                                <th>کد درس</th>
                                <th>تعداد واحد</th>
                                <th>وضعیت درس</th>
                                <th>نمره</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>فیزیک 1</th>
                                <th>500203</th>
                                <th>3</th>
                                <th>مردود</th>
                                <th>9.75</th>
                                
                            </tr>
                            
                            <tr>
                                <th>ریاضی 1</th>
                                <th>500221</th>
                                <th>3</th>
                                <th>قبول</th>
                                <th>13.75</th>
                                
                            </tr>
                            <tr>
                                <th>مدار منطقی</th>
                                <th>880049</th>
                                <th>3</th>
                                <th>قبول</th>
                                <th>15.50</th>
                                
                            </tr>
                            <tr>
                                <th>گسسته</th>
                                <th>100105</th>
                                <th>3</th>
                                <th>قبول</th>
                                <th>17.50</th>
                                
                            </tr>
                            <tr>
                                <th>ریاضی 2</th>
                                <th>150010</th>
                                <th>3</th>
                                <th>قبول</th>
                                <th>13.50</th>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="part3">

                <div class="down-side">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>واحد اخذ شده</th>
                                <th>گذرانیده</th>
                                <th>معدل</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="part3-tabel-head">نیم سال جاری</th>
                                <th>19</th>
                                <th>0</th>
                                <th>16.79</th>
                            </tr>
                            <tr>
                                <th class="part3-tabel-head" >کل</th>
                                <th>35</th>
                                <th>16</th>
                                <th>16.79</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
</body>
</html>