
.menu1
{
    display: none;
}

.menu{
    background-color:#37B9F1;
    width: 16%;
    height: 100%;
    position:absolute;
    /* box-sizing: initial; */
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    /* border-radius: 15px; */
    transition: width 0.5s;
    z-index: 11;
    overflow: hidden;
    
    }
  
    .menu.active
    {
      width: 60px;
    }
  
  .main-title
  {
      position: absolute;
      top: 0;
      width: 100%;
  }
  
  .main-title ion-icon
  {
      /* position: absolute; */
      color: white;
      font-size: 2.5rem;
      margin: 10px;
      cursor: pointer;
  }
  
  .main-title-sub
  {
      position: absolute;
      right: 42%;
      /* left: 0px; */
      top: 5px;
      font-size: 1.3rem;
      margin: 10px;
      color: white;
      display: inline-block;
      height: 35px;
      width: 150px;
      text-align: center;
      overflow: hidden;
  }
  
  .menu.active .main-title-sub
  {
      
  }
  
  .menu ul
  {
      margin-right: 10px;
      width: 100%;
  }
  
  .menu li
  {
      list-style: none;
      margin: 40px 0;
      font-size: 0.9rem;
      width: 100%;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      position: relative;
  }
  
  .menu li::before
  {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0px;
      top: -30px;
      z-index: 10;
      background-color:#37B9F1;
  }
  
  .menu li.active::before
  {
      border-radius: 50%;
      box-shadow: -17px 19px 0 1px white ;
  }
  
  .menu li::after
  {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0px;
      bottom: -30px;
      background-color:#37B9F1;
  }
  
  .menu li.active::after
  {
      border-radius: 50%;
      box-shadow: -17px -19px 0 1px white ;
  }
  
  
  .menu li.active
  {
      background-color: white;
  }
  
  .icon
  {
      font-size: 1.4rem;
      height: 100%;
      display: inline-flex;
  }
  
  .menu li a
  {
      display: inline-flex;
      color: white;
      text-decoration: none;
      padding: 10px;
     
  }
  
  .menu li.active a  
  {
      color: #257699;
  }
  
  .menu li:last-child
  {
      position: absolute;
      bottom: 20px;
      right: 10px;
  }
  
  .title
  {
      position: absolute;
      top: 13px;
      right: 50px;
      height: 35px;
      width: 250px;
      overflow: hidden;
  }
  
  .menu.active .title
  {
      right: 50px;
  }